<app-header></app-header>
<body>
    <button type="button" routerLink="/admin" class="btn btn-secondary btn-block">
      <span class=""></span> Regresar
    </button>
    <div class="page-wrapper bg-dark p-t-70 p-b-10">
      <div class="container">
        <div class="card-heading">
          <h2 class="title"></h2>
        </div>
        <div>
          <p>.</p>
          <p>´</p>

          <p class="title">Inventario Discos</p>
        </div>
        <div class="table-responsive custom-table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col"> ID </th>
                <th scope="col"> Activo Fijo </th>
                <th scope="col"> Numero de Serie </th>
                <th scope="col"> Marca </th>
                <th scope="col"> Modelo </th>
                <th scope="col"> Galería </th>
                <th scope="col"> Usuario</th>
                <th scope="col"> Fecha </th>
                <th scope="col"> Acción</th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>{{"0001"}} <br></td>
                <td>{{"1188"}} <br></td>
                <td>{{"ASF482454DDW"}} <br></td>
                <td>{{"ADATA"}} <br></td>
                <td>{{"4PY445"}} <br></td>
                <td>{{"DREAMS PLAYA MUJERES"}} <br></td>
                <td>{{"JORGE VARGAS"}} <br></td>
                <td>{{"01/06/2023"}} <br></td>    
                <td>
                  <button class="btn btn-dark col-md-8">Editar </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>