<body>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800,300" rel="stylesheet" type="text/css"/>
    <nav class="nav">
      <ul class="nav__menu">
        <li class="nav__menu-item"><a>Inicio</a></li>
        <li class="nav__menu-item"><a>Registro</a>
          <ul class="nav__submenu">
            <li class="nav__submenu-item"> <a>Registro de Galería</a></li>
            <li class="nav__submenu-item"> <a>Registro de Usuario</a></li>
            <li class="nav__submenu-item"> <a>Registro de Equipo</a></li>
            <li class="nav__submenu-item"> <a>Registro de Dispositivo</a></li>
            <li class="nav__submenu-item"> <a>Registro de Responsable</a></li>
          </ul>
        </li>
        <li class="nav__menu-item"><a>Inventario</a>
          <ul class="nav__submenu">
            <li class="nav__submenu-item"> <a>Inventario de Equipos</a></li>
            <li class="nav__submenu-item"> <a>Inventario de Dispositivos</a></li>
          </ul>
        </li>
        <li class="nav__menu-item"><a>Seguimiento</a></li>
        <li class="nav__menu-item"><a>Cerrar Sesión</a></li>
      </ul>
    </nav>
    <div>
    </div>
    </body>