<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="../../../assets/Adventure-Photo-movil.png" align="klassy cafe html template">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Inicio</a></li>
                        <li class="submenu">
                            <a href="#">Inventario</a>
                            <ul>
                                <li><a href="#">Seguimiento 1</a></li>
                                <li><a href="#">FSeguimiento 2</a></li>
                                <li><a href="#">Seguimiento 3</a></li>
                                <li><a href="#">FSeguimiento 4</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">Registro</a>
                            <ul>
                                <li><a href="#">Seguimiento 1</a></li>
                                <li><a href="#">FSeguimiento 2</a></li>
                                <li><a href="#">Seguimiento 3</a></li>
                                <li><a href="#">FSeguimiento 4</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="#">Seguimiento</a>
                            <ul>
                                <li><a href="#">Seguimiento 1</a></li>
                                <li><a href="#">FSeguimiento 2</a></li>
                                <li><a href="#">Seguimiento 3</a></li>
                                <li><a href="#">FSeguimiento 4</a></li>
                            </ul>
                        </li>
                        <li class="scroll-to-section"><a href="#about">Cerrar Sesión</a></li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->
