<app-header></app-header>

<body>
  <button type="button" routerLink="/admin/list_experience" class="btn btn-secondary btn-block">
    <span class=""></span> Regresar al menu
  </button>
  <div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
      <div class="card card-6">
        <div class="card-heading">
          <h2 class="title">Información Equipos</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            <div class="form-row">
              <div class="name" for="inputEmpresa">Activo Fijo:</div>
              <div class="value">
                <p class="title3">{{"1130"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Equipo:</div>
              <div class="value">
                <p class="title3">{{"IMAC 24 PULGADAS"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Número de serie</div>
              <div class="value">
                <p class="title3">{{"48SAD54C87G"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Marca</div>
              <div class="value">
                <p class="title3">{{"APPLE"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Modelo</div>
              <div class="value">
                <p class="title3">{{"OKNDAW54"}}</p>
              </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Año</div>
                <div class="value">
                    <p class="title3">{{"2021"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Nombre del equipo</div>
                <div class="value">
                    <p class="title3">{{"SECRETS MOXCHÉ"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Usuario</div>
                <div class="value">
                    <p class="title3">{{"MOXCHÉ1"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Correo</div>
                <div class="value">
                    <p class="title3">{{"MOCHE@EXAMPLE.COM"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Licencia Adobe</div>
                <div class="value">
                    <p class="title3">{{"LICENCIA@ADOBE.COM"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Apps</div>
                <div class="value">
                    <p class="title3">{{"PS 24.5, LRC 11.8"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Antivirus</div>
                <div class="value">
                    <p class="title3">{{"CLEAMMYMAC"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Procesador</div>
                <div class="value">
                    <p class="title3">{{"INTEL CORE I5 DUAL CORE"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">RAM</div>
                <div class="value">
                    <p class="title3">{{"16 GB DDR3 1600"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Almacenamiento</div>
                <div class="value">
                    <p class="title3">{{"500 GB SSD"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">GPU</div>
                <div class="value">
                    <p class="title3">{{"INTEL IRIS PLUS 1650"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Sistema Operativo</div>
                <div class="value">
                    <p class="title3">{{"MONTEREY 12.6.5"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputType">Galería o departamento</div>
                <p class="title3">{{"SECRETS MOXCHÉ"}}</p>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Logmein</div>
                <div class="value">
                    <p class="title3">{{"MOXCHÉ1"}}</p>
                </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputFecha">Fecha de actualización</div>
                <div class="value">
                    <p class="title3">{{"28/06/2023"}}</p>
                </div>
              </div>
            <div class="form-row">
                <div class="name" for="inputDescripcion">Comentarios</div>
                <div class="value">
                    <p class="title3">{{"TODO ESTA EN ORDEN, NO SE NECESITA MANTENIMEINTO PRONTO"}}</p>
                </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/global.js"></script>
</body>