<app-header></app-header>

<body>
  <button type="button" routerLink="/admin/list_experience" class="btn btn-secondary btn-block">
    <span class=""></span> Regresar al menu
  </button>
  <div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
      <div class="card card-6">
        <div class="card-heading">
          <h2 class="title">Información Dispositivos</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            <div class="form-row">
              <div class="name" for="inputEmpresa">Activo Fijo:</div>
              <div class="value">
                <p class="title3">{{"1125"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Dispositivo:</div>
              <div class="value">
                <p class="title3">{{"DISCO DURO 4TB"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Número de serie:</div>
              <div class="value">
                <p class="title3">{{"SD15461ASD"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Marca:</div>
              <div class="value">
                <p class="title3">{{"ADATA"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Modelo:</div>
              <div class="value">
                <p class="title3">{{"AD545DC48CL"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputType">Galería:</div>
              <p class="title3">{{"SECRETS MOXCHÉ"}}</p>
            </div>
            <div class="form-row">
              <div class="name" for="inputEmpresa">Usuario:</div>
              <div class="value">
                <p class="title3">{{"JORGE VARGAS"}}</p>
              </div>
            </div>
            <div class="form-row">
              <div class="name" for="inputFecha">Fecha de entrega:</div>
              <div class="value">
                <p class="title3">{{"28/06/2023"}}</p>
              </div>
            </div>
            <!--
            <div class="form-row">
              <div class="name" for="inputDescripcion">Descripción del puesto</div>
              <div class="value">
                <div class="input-group">
                  <textarea class="textarea--style-6" id="inputDescripcion" formControlName="description"
                    placeholder="Describe brevemente tus actividades dentro de la empresa"></textarea>
                </div>
              </div>
            </div>
-->
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/global.js"></script>
</body>