<app-header></app-header>
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

</head>

<body>


    <div class="content">

        <div class="container">

            <div class="table-responsive">

                <table class="table table-striped custom-table">
                    <thead>
                        <tr>

                            <th scope="col">Id</th>
                            <th scope="col">Galeria</th>
                            <th scope="col">Supervisor</th>
                            <th scope="col">Encargado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr scope="row">
                            <td>
                                1
                            </td>
                            <td>
                                SECRETS PLAYA MUJERES
                            </td>
                            <td>JORGE LOPÈZ</td>
                            <td>EMMANUEL PÈREZ</td>

                        </tr>

                        <tr>

                            <td>2</td>
                            <td>
                                DREAMS PLAYA MUJERES
                            </td>
                            <td>JORGE LOPÈZ</td>
                            <td>FRANCESCO REN</td>
                        </tr>
                        <tr>

                            <td>3</td>
                            <td>
                                GRAND SIRENIS
                            </td>
                            <td>CARLOS RUIZ</td>
                            <td>FERNANDO CHI</td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

    </div>



    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
</body>

</html>
<app-footer></app-footer>