<app-header></app-header>

<body>
  <button type="button" routerLink="/admin/list_experience" class="btn btn-secondary btn-block">
    <span class=""></span> Regresar al menu
  </button>
  <div class="page-wrapper bg-dark p-t-100 p-b-50">
    <div class="wrapper wrapper--w900">
      <div class="card card-6">
        <div class="card-heading">
          <h2 class="title">Información Seguimiento</h2>
        </div>
        <div class="card-body">
          <form method="POST">
            <div class="form-row">
              <div class="name" for="inputEmpresa">Dispositivo</div>
              <div class="value">
                <p class="title3">{{"DISCO DURO"}}</p>
              </div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Responsable</div>
                <div class="value">
                    <p class="title3">{{"JORGE LOPÉZ"}}</p>
                </div>
              </div>
            <div class="form-row">
                <div class="name" for="inputType">Estatus</div>
                <p class="title3">{{"SOLICITADO A COMPRAS"}}</p>
            </div>
            <div class="form-row">
              <div class="title2" for="inputEmpresa">Información del dispositivo</div>
            </div>
            <div class="form-row">
                <div class="name" for="inputEmpresa">Activo Fijo</div>
                <div class="value">
                    <p class="title3">{{"2304"}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="name" for="inputEmpresa">Número de serie</div>
                <div class="value">
                    <p class="title3">{{"HA12S5CS12"}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="name" for="inputEmpresa">Modelo</div>
                <div class="value">
                    <p class="title3">{{"LJD54C"}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="name" for="inputEmpresa">Almacenamiento</div>
                <div class="value">
                    <p class="title3">{{"4 TB"}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="name" for="inputType">Galería o departamento</div>
                <p class="title3">{{"DEPARTAMENTO VIDEO"}}</p>
              </div>
              <div class="form-row">
                <div class="name" for="inputEmpresa">Asignado a</div>
                <div class="value">
                    <p class="title3">{{"NANCY ORTIZ"}}</p>
                </div>
              </div>
              <div class="form-row">
                <div class="name" for="inputFecha">Fecha de entrega</div>
                <div class="value">
                    <p class="title3">{{"28/06/2023"}}</p>
                </div>
              </div>
          </form>
        </div>

      </div>
    </div>
  </div>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="js/global.js"></script>
</body>