<app-header></app-header>
<body>
    <button type="button" routerLink="/admin" class="btn btn-secondary btn-block">
      <span class=""></span> Regresar
    </button>
    <div class="page-wrapper bg-dark p-t-70 p-b-10">
      <div class="container">
        <div class="card-heading">
          <h2 class="title"></h2>
        </div>
        <div>
          <p>.</p>
          <p>´</p>

          <p class="title">Inventario supervisor</p>
        </div>
        <div class="table-responsive custom-table-responsive">
          <table class="table custom-table">
            <thead>
              <tr>
                <th scope="col"> ID </th>
                <th scope="col"> NOMBRE</th>
                <th scope="col"> Acción </th>
              </tr>
            </thead>
  
            <tbody>
              <tr>
                <td>{{"1"}} <br></td>
                <td>{{"JORGE LOPÉZ"}} <br></td>
                <td>
                  <button class="btn btn-dark col-md-8">Consultar Información </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>